<div class="recommended grid-container">
  <div class="tabBox">
    {{#if kids}}
      <a class="tab movies"><img src="../images/movies.svg" alt="Movies"></a>
      <a class="tv tab"><img src="../images/television.svg" alt="Television"></a>
      <a class="music tab"><img src="../images/music.svg" alt="Music"></a>
    {{/if}}
    {{#if parent}}
      <a class="tab movies">Movies</a>
      <a class="tv tab">TV Shows</a>
      <a class="music tab">Music</a>
    {{/if}}
    
  </div>
  <div class="box grid-x">
    <h3 class="small-12 cell">Recommended</h3>
    {{#each movieData}}
      <a class="movie cell">
        <img src="../images/{{ movies_cover }}" alt="{{ movies_title }}">
        <!--<img src="image/{{ imgPath }}" alt="mini">-->
      </a>
    {{/each}}
  </div>
</div>

<div class="list grid-container">
  <div class="box again grid-x grid-padding-x">
    <h3 class="small-12 cell">Action</h3>
    {{#each movieData}}
      <a class="movie cell">
        <img src="../images/{{ movies_cover }}" alt="{{ movies_title }}">
        <!--<img src="image/{{ imgPath }}" alt="mini">-->
      </a>
    {{/each}}
  </div>
  <div class="box continue grid-x grid-padding-x">
    <h3 class="small-12 cell">Comedy</h3>
    {{#each movieData}}
      <a class="movie cell">
        <img src="../images/{{ movies_cover }}" alt="{{ movies_title }}">
        <!--<img src="image/{{ imgPath }}" alt="mini">-->
      </a>
    {{/each}}
  </div>
</div>

<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="era">
      <a><img src="images/50s.jpg" alt="50s" class="decade"></a>
      <a><img src="images/60s.jpg" alt="60s" class="decade"></a>
      <a><img src="images/70s.jpg" alt="70s" class="decade"></a>
      <a><img src="images/80s.jpg" alt="80s" class="decade"></a>
      <a><img src="images/90s.jpg" alt="90s" class="decade"></a>
    </div>
  </div>
</div>

<div class="lightbox" class="grid-x grid-padding-x">
  <div class="movieDetails">
    <button class="close-button close-lightbox" aria-label="Close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
    <video width="1280" height="720" controls>
      Your browser does not support the video tag.
    </video>
    <h3 class="title"></h3>
    <p class="story"></p>
  </div>
</div>

